@model IEnumerable<PracticeMvc.Models.Employee1>

@{
    ViewData["Title"] = "CacheIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CacheIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<cache expires-after="@TimeSpan.FromSeconds(120)">
    @DateTime.Now
</cache>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
